### 주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv", parse_dates=['Date'], index_col=0)

# 아래 코드를 한줄로 표현함
# df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv")
# df['Date'] = pd.to_datetime(df['Date'])
# df = df.set_index('Date')

In [3]:
print(df.shape)
df.head(3)

(730, 4)

               Sales      PV      UV  Events
Date
2022-01-01  22711525  397349  4421.0       1
2022-01-02     36779    3969  2289.0       0
2022-01-03  13943875  373890     NaN       1

In [4]:
df.tail(3)

              Sales     PV      UV  Events
Date
2023-12-29  1164008  14309   193.0       0
2023-12-30  3977696  60935     NaN       0
2023-12-31  3719764  60963  1507.0       0

### 단위 
- 주 단위 W
- 2주 단위 2W
- 월 단위 M

In [5]:
df_w = df.resample('W').sum()
df_w.head()

               Sales       PV       UV  Events
Date
2022-01-02  22748304   401318   6710.0       1
2022-01-09  33373822  1148464  15189.0       2
2022-01-16  20754519   283773   9344.0       0
2022-01-23  21880751   538633   9841.0       1
2022-01-30  28878452   560814   7808.0       1

In [6]:
ma = df_w['Sales'].max()
ma

99165648

In [7]:
mi = df_w['Sales'].min()
mi

7526598

In [8]:
print(ma - mi)

91639050